/* index.html*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #ef3a5d;
    color: white;
    width: 100%;
    height: 100%;
}


/* ------------- header -------------   */
.container-menu {
    width: 100%;
    height: 7rem;
    padding: 2rem 0 ;
    margin: 0 0 5rem 0;
}

.container-menu nav {
    height: 100%;
    width: 50%;
}

.container-menu nav ul  {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space;
    align-items: center;
    padding: 3rem 0;
}

li {
    list-style: none;
}

.container-menu nav ul .menu {
    background-color: #aa1945;
    border-radius: 50px;
    padding: 10px;
}

.container-menu nav ul li > .mini-logo {
    position:relative;
    top: -0.1rem
}


.container-menu .menu a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.mini-logo {
    width: 75px;
    height: 75px;
}

/* --------------  main -----------   */
section {
    width: 100%;
    padding: 2rem 0 ;
}


.container-inicial {
    height: 25rem;
    display:grid;
    grid-template-columns: 350px 1fr;
    padding: 0.5rem 0;
}

.container-inicial .texto-houston {
    width: 80%;
    height: 100%;
    margin: 4rem auto;
    padding: 3rem ;
    background-color: #aa1945;
    border-radius: 20px;
    height: 50%;
}

.container-inicial .texto-houston span {
    text-align: center;
    padding: 1rem;
    
}

/* ------------- imagens ---------   */
.top-players {
    text-align: center;
    font-size: 60px;
    margin: 6rem 0 3rem;
}

.size-img {
    background-color: #aa1945;
    border-radius: 20px;
    width: 163px;
    height: 168px;
    display: flex;
    flex-wrap: wrap;
}

.img-footer {
    width: 50px;
    height: 50px;
    padding: 10px;
}

/* contato.html*/
.logo-contato {
    opacity: 0.2;
    width: 700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 


/* --------------  footer -----------   */
.footer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.footer .containerfooter {
    height: 100% ;
    display: flex;
    align-items: center;
}

.footer .containerfooter a {
    display: flex;
    justify-content: center;
}

.footer .containerfooter a > img {
    width: 15%;
    margin-bottom: 1rem;
}

.footer .containerfooter p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}